*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/book.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
/*NAVBAR*/
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: aliceblue;
}
.nav-link{
    display: flex;
    align-items: center;
    color: aliceblue;

}
.nav-link li{
    margin: 0 30px;
    color: aliceblue;

}
ul{
    list-style: none;
    color: aliceblue;

}

a{
    text-decoration: none;
    color: aliceblue;

}
.header-content{
    margin-bottom: 150px;
    color: aliceblue;
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #e22d97;
    margin: 2px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    display: inline-block;
    padding: 8px 5px;
    background: #e22d97;
    border-radius: 30px;
    color: aliceblue;
    text-align: center;
}
.container{
    margin: 0 auto;
}
.row {
    align-items: center;
    justify-content: space-between;
    text-align: center;

}
.card{
    flex: 1 1 21rem;
    margin: 10px 20px;
    background: pink;
    text-align: center;
    box-shadow: 0 0 15px black;
}
.card h4{
    font-size: 1. 3rem;
    text-transform: uppercase;
    margin: 10px 0;
    text-align: center;
}